<form name="form">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>选择合同版本</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="radio">
                    <label class="i-checks">
                        <input type="radio"  value="v1" ng-model="version" ng-checked="true">
                        <i></i>
                        （默认）合同包含承租人2信息
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="radio">
                    <label class="i-checks">
                        <input type="radio"  value="v2" ng-model="version" >
                        <i></i>
                        （适用特殊区域）合同不包含承租人2信息
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>

